html, body {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}
.jumbotron{
    background-image: url("https://i.ibb.co/wWbzGsq/h-img.jpg");
    text-align: center;
    height: 100%;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    

   
}
    
    
    
    

        


.aboutUs{
    text-align: center;
}

.images{
    text-align: center;
    display: block; 
}

.portfolio{
    text-align: center;
}
.services{
    background: url("Images/assets/backgrounds/h_img.jpg") no-repeat;
}

#services {
    background: url("https://i.ibb.co/pRV1bTg/s-image.jpg") no-repeat;
    height: 100%;
    text-align: center;
}
.row-phead{
    text-align: center;
}
.portfolio{
    margin-top: -2%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio div{
    width: 23%;
    margin-top:  40px;
  }
  .portfolio img{
    width:100%;
  }


