html, body {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}
.jumbotron{
    
    text-align: center;
    min-height: 300px !important;
    
    
    
    
}

        


.aboutUs{
    text-align: center;
}

.images{
    text-align: center;
    display: block; 
}

.portfolio{
    text-align: center;
}
.services{
    background: url("Images/assets/backgrounds/h_img.jpg") no-repeat;
}


